<ul class="dashboard-tabs">
  <li><a data-selected-links=" /styleguide" class="js-selected-navigation-item " href="/guide">Overview</a></li>
  <li><a data-selected-links="css_styleguide /styleguide/css" class="js-selected-navigation-item selected" href="/guide/css">Styling &amp; CSS</a></li>
  <li><a data-selected-links="templates_styleguide /styleguide/templates" class="js-selected-navigation-item " href="/styleguide/templates">Markup &amp; Templates</a></li>
  <li><a data-selected-links="javascript_styleguide /styleguide/javascript" class="js-selected-navigation-item " href="/styleguide/javascript">Behavior &amp; JavaScript</a></li>
  <li><a data-selected-links=" /styleguide/ruby" class="js-selected-navigation-item " href="/styleguide/ruby">Ruby</a></li>
  <li><a data-selected-links=" /styleguide/words" class="js-selected-navigation-item " href="/styleguide/words">Words</a></li>
  <li><a data-selected-links=" /styleguide/mobile" class="js-selected-navigation-item " href="/styleguide/mobile">Mobile</a></li>
</ul>